{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "loose": true
        }]
      ],
      "plugins": [
        "transform-runtime"
      ]
    }
  },
  "presets": [
    ["env", {
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-assign"
  ]
}